body {
	text-align: center;
	font-family: cursive;

	background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C */
}
h1 {
	text-transform: uppercase;
	font-size: 40px;
	color: #D60D0D;
	text-shadow: #333 5px 5px 20px;
}
#container {
	position: relative;
	display: inline-block;
	padding: 30px;

	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;

	background: #2274aa; /* Old browsers */
	background: -moz-linear-gradient(top, #2274aa 0%, #2989d8 31%, #207cca 63%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2274aa), color-stop(31%,#2989d8), color-stop(63%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2274aa 0%,#2989d8 31%,#207cca 63%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #2274aa 0%,#2989d8 31%,#207cca 63%,#7db9e8 100%); /* W3C */

	box-shadow: 4px 4px 10px #333333;
	-webkit-box-shadow: 2px 2px 2px #333333;
	-moz-box-shadow: 2px 2px 2px #333333;

	transition: background 1s linear;
	-webkit-transition: background 1s linear;
	-moz-transition: background 1s linear;
}
#container.crash {
	background: #F00;
}
#container.ready #start_message {
	display: block
}

#board {
	border: 3px solid #CCC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	float: left;
	width: 800px;
	height: 580px;
}

/*
 * Start message
 */
@keyframes bounce {
    from, to {
		animation-timing-function: ease-out;
    }
    50% {
		top: 230px;
		animation-timing-function: ease-in;
    }
}
@-webkit-keyframes bounce {
    from, to {
		-webkit-animation-timing-function: ease-out;
    }
    50% {
		top: 230px;
		-webkit-animation-timing-function: ease-in;
    }
}
@-moz-keyframes bounce {
    from, to {
		-moz-animation-timing-function: ease-out;
    }
    50% {
      top: 230px;
		-moz-animation-timing-function: ease-in;
    }
}
#start_message {
	display: none;
	position: absolute;
	left: 0px;
	width: 100%;
	top: 250px;
	text-align: center;
	font-size: 40px;
	text-shadow: #333 5px 5px 5px;
	animation: bounce 0.7s infinite;
	-webkit-animation: bounce 0.7s infinite;
	-moz-animation: bounce 0.7s infinite;
	z-index: 100;
}

/*
 * Modal dialogs
 */
.modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}
#modal_bg {
	opacity: 0.7;
	background-color: #222;
}
.dialog {
	display: inline-block;
	margin: auto;
	margin-top: 200px;
	padding: 30px;
	
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #fefcea 0%,#f1da36 100%); /* W3C */

	box-shadow: 4px 4px 10px #333333;
	-webkit-box-shadow: 2px 2px 2px #333333;
	-moz-box-shadow: 2px 2px 2px #333333;
	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	
	font-size: 20px;
}
.dialog h1 {
	margin-top: 0;
}
#score_container {
	color: #3A3;
	font-size: 36px;
}			
#high_score {
	font-weight: bold;
}

.try_again {
	border: 0;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	padding-top: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: linear-gradient(top, #7db9e8 0%,#207cca 100%); 
	background: -webkit-linear-gradient(top, #7db9e8 0%,#207cca 100%); 
	background: -moz-linear-gradient(top, #7db9e8 0%,#207cca 100%);
	box-shadow: 2px 2px 4px #333;
	-webkit-box-shadow: 2px 2px 4px #333;
	-moz-box-shadow: 2px 2px 4px #333;
}
.try_again:hover {
	background: linear-gradient(top, #207cca 0%,#7db9e8 100%);
	background: -webkit-linear-gradient(top, #207cca 0%,#7db9e8 100%);
	background: -moz-linear-gradient(top, #207cca 0%,#7db9e8 100%);
}

/*
 * Game items animations
 */
@keyframes falling {
    from {
		margin-top: -300px;
		animation-timing-function: ease-in;
    }
	30%, 70%, 100%{
		margin-top: 0px;
		animation-timing-function: ease-out;
	}
	50% {
		margin-top: -60px;
		animation-timing-function: ease-in;
	}
	90% {
		margin-top: -10px;
		animation-timing-function: ease-in;
	}
}
@-webkit-keyframes falling {
    from {
		margin-top: -300px;
		-webkit-animation-timing-function: ease-in;
    }
	30%, 70%, 100%{
		margin-top: 0px;
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		margin-top: -60px;
		-webkit-animation-timing-function: ease-in;
	}
	90% {
		margin-top: -10px;
		-webkit-animation-timing-function: ease-in;
	}
}
@-moz-keyframes falling {
    from {
		margin-top: -300px;
		-moz-animation-timing-function: ease-in;
    }
	30%, 70%, 100%{
		margin-top: 0px;
		-moz-animation-timing-function: ease-out;
	}
	50% {
		margin-top: -60px;
		-moz-animation-timing-function: ease-in;
	}
	90% {
		margin-top: -10px;
		-moz-animation-timing-function: ease-in;
	}
}
.gum {
	animation: falling 1s;
	-webkit-animation: falling 1s;
	-moz-animation: falling 1s;

	margin: 0px;
	width: 30px;
	transition: width 1s linear;
	-webkit-transition: width 0.2s linear, margin 0.2s linear;
	-moz-transition: width 1s linear;
}
.wall {
	animation: falling 1s;
	-webkit-animation: falling 1s;
	-moz-animation: falling 1s;
}
.ball {
	animation: falling 1s;
	-webkit-animation: falling 1s;
	-moz-animation: falling 1s;
}
