#container {
    /*width: 1220px;*/
}
#board {
    cursor: none;
    width: 480px;
    height: 320px;
    margin-top: 20px;
}
.editor {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
.url_label {
    text-align: left;
    display: inline-block;
    width: 50px;
}
.url_field {
    width: 200px;
}
.preview {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 7px 7px;           
}
.preview_separator {
    display:inline-block; 
    height: 36px; 
    width: 2px; 
    background-color: #aba1ab; 
    margin: 7px 7px; 
    vertical-align: middle
}

.selectable {
    width: 30px;
    height: 30px;
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;           
    display: inline;
}

.selectable.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}

.editor_button {
    padding-top: 10px;
    width: 100px;
    height: 96px;
    font-size: 1.3em;
}
#ball_radio {
    visibility: hidden;
}
.editor_group {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.serialization {
    display: block;
    clear: both;
    width: 100%;
    height: 10em;
}
#cursor {
    opacity: 0.5; 
    z-index: 100;
    position: absolute;
}

.gum, .wall, .ball {
    -moz-animation: anim 1s linear;
    -webkit-animation: anim 1s linear;
}