body {
    text-align: left;
}
#container {
    width: 420px;
    padding: 10px;
}
#board {
	width: 310px;
	height: 210px;
}
#start_message {
	width: 100%;
	top: 100px;
	font-size: 20px;
    animation: anim 1s linear;
	-webkit-animation: anim 1s linear;
	-moz-animation: anim 1s linear;
}

.button {
    float:left; 
    width:40px; 
    height:210px; 
    background-color:black;
    border-radius: 10px;
}

#left_button {
    margin-right: 10px;
}

#right_button {
    margin-left: 10px;
}